/WeatherForecast-domain/target/
/WeatherForecast-ui/target/
/WeatherWeb kopie/target/
/WeatherWeb/target/
/WeatherForecast-RestApi/target/
/WeatherForecast-restApi/target/
/SOAProject/target/
/WeatherReport-model/target/